@use 'variables' as var;

html {
    font-size: 62.5%; // 1rem = 10 px
    box-sizing: border-box;
}
// el padding no genera problema
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var.$fuente-principal;
    font-size: 1.6rem;
    //para fijar l aimegn de la galeria
    &.fijar-body {
        overflow: hidden;
    }
    &.body-scroll{
        padding-top: 8.6rem; //tama;o del header
    }

}

p {
    font-size: 2rem;
    color: var.$negro;
    line-height: 1.5; //interlineado
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3,6rem;
}
h3{
    font-size: 3rem;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block; // ajustar la imagen dentro del grid
}