html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** Algoritmo
1) Dispositivo grande 2 columnas, dispositivo movil parte arriba y pate abajo
2) Agregamos media queries para lo mencionado arriba
3) Te vas al elemento padre dentro de html, en este caso clase "contenedor"
4) Creamos una nueva clase para no utilizar la del padre
 **/

 @media (min-width: 728px) {
    .dos-Columnas {
        display: grid; /**Usamos grid Template columns**/
        grid-template-columns: 50% 50%; /**Primera forma**/
        grid-template-columns: repeat(2,50%); /**Segunda forma**/
        grid-template-columns: 1fr 1fr; /**Tercera forma**/
        grid-template-columns: repeat(2,1fr); /**Cuarta forma**/
        column-gap: 2rem;
    
    }

    
 }