@use 'base/variables' as v;
@use 'base/mixins' as mix;

.header {
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
    }
}

// La navegacion la hacemos igual de dos niveles
// el & elimina el espacio al inicio del archivo sass, util para los 
//pseudoelementos
.navegacion-principal {
    background-color: red;
    @include mix.phone{
        background-color: v.$morado;
    }
    @include mix.tablet {
        background-color: v.$amarillo;
    }
    @include mix.desktop {
        background-color: v.$negro;
    }
    a{
        color: v.$blanco;
        font-size: 2rem;
        &:hover {
            color: v.$amarillo;
        }
    }
}

// .prueba{
//     @include mix.heading(v.$amarillo,true);
// }

