@use 'base/mixins' as m;
@use 'base/variables' as v;

.video {
    position: relative;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(61,34,195);
        background: linear-gradient(0deg, rgba(61,34,195,0.7) 0%, rgba(4,4,4,0.2) 100%);
    }
    video{
        width: 100%;
        display: block;
    }
}
